@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');

#main-screen {
    background: url(./images/main-bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-repeat: no-repeat;
}
  
@media only screen and (min-width: 576px){
.navbar-brand {
    position: absolute;
    width: 77px;
    height: 33px;
    left: 107px;
    top: 25.7px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
}

.navbar-dark {
    background: rgba(0, 0, 0, 0.5) !important;
    --bs-navbar-padding-y: 1.5rem;
}
.nav-item {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}


.nav-link {
    color: white;
}

#main-screen .highlight-text h1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 200px;
}

#main-screen .highlight-text p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

.btn-warning {
    --bs-btn-color: #1A1917;
    --bs-btn-bg: #FFB548;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffca2c;
    --bs-btn-hover-border-color: #ffc720;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px,rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
    padding: 20px 83px;
    border-radius: 4px;
    font-size: 16px;
}

.highlight-text h6 {
    position: absolute;
    left: 45%;
    right: 45%;
    top: 92.48%;
}

.icon {
    position: absolute;
    left: 45%;
    right: 45%;
    top: 95.48%;
}

@media only screen and (min-width: 576px){
#about {
    position: relative;
    top: 107%;
    background: url(./images/the-games-bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 120vh;
    background-repeat: no-repeat;
}

#about p {
    margin-top: 200px;
    left: 5.7%;
    right: 76.09%;
    top: 30.48%;
    bottom: 53.64%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

#about h2 {
    height: 73.64px;
    left: 5.42%;
    right: 66.01%;
    top: calc(60% - 73.64px/2 - 133.59px);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.carousel-inner {
    position: absolute;
    width: 858px;
    height: 477px;
    top: 318.7px;
}

.carousel-control-prev {
    position: absolute;
    top: 500.7px;
}

.carousel-control-next {
    position: absolute;
    top: 500.7px;
}

.carousel-item {
    height: 400px;
}
}

.Features {
    position: relative;
    top: 100%;
    background-image: url(./images/features.jpg);
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Features h4 {
    position: absolute;
    left: 54%;
    right: 10.09%;
    top: 13.48%;
    bottom: 68.64%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.Features h1 {
    position: absolute;
    height: 73.64px;
    left: 54%;
    right: 10.01%;
    top: 17%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.Features h5 {
    margin-top: 143px;
    position: absolute;
    left: 56.7%;
    right: 10.09%;
    top: 19.48%;
    bottom: 68.64%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #FFB548;
    text-transform: uppercase;
}

.Features h6 {
    margin-top: 10px;
    position: absolute;
    height: 73.64px;
    left: 56.7%;
    right: 10.01%;
    top: 35%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
}

.Features .text h5 {
    margin-top: 275px;
    position: absolute;
    left: 56.7%;
    right: 10.09%;
    top: 19.48%;
    bottom: 68.64%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #FFB548;
}

.Features .text h6 {
    margin-top: 363px;
    position: absolute;
    left: 56.7%;
    right: 10.09%;
    top: 19.48%;
    bottom: 68.64%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #FFB548;
    text-transform: uppercase;
}

.Features .bullet1 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 54%;
    top: 32%;
    border: 1.30637px solid #FFFFFF;
    transform: rotate(90deg);
    border-radius: 20px;
}

.Features .bullet2 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 54%;
    top: 43%;
    background: #FFFFFF;
    border: 1.30637px solid #FFFFFF;
    transform: rotate(90deg);
    border-radius: 20px;
}

.Features .bullet3 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 54%;
    top: 50.5%;
    border: 1.30637px solid #FFFFFF;
    transform: rotate(90deg);
    border-radius: 20px;
}

.requirements {
    position: relative;
    top: 107%;
    background-image: url(./images/requirements.png) ;
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.requirements .question {
    position: absolute;
    left: 39.27%;
    right: 36.26%;
    top: 15.12%;
    bottom: 82%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.requirements .system {
    position: absolute;
    height: 73.64px;
    left: 9.02%;
    right: 47.07%;
    top: calc(50% - 73.64px/2 - 216.05px);

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.requirements .table {
    position: absolute;
    width: 36%;
    height: 35%;
    right: 54.07%;
    top: 41%;
    border: 1px solid #979797;
}

.requirements .vector1 {
    position: absolute;
    width: 36%;
    right: 54.07%;
    top: 51%;
    border: 1px solid #979797;
}

.requirements .vector2 {
    position: absolute;
    width: 36%;
    right: 54.07%;
    top: 61.3%;
    border: 1px solid #979797;
}

.requirements .vector3 {
    position: absolute;
    width: 0%;
    height: 20.4%;
    right: 72.07%;
    top: 41%;
    border: 1px solid #979797;
}

.requirements .os {
    position: absolute;
    left: 10.67%;
    right: 70.19%;
    top: 42.02%;
    bottom: 55.1%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.requirements .os h4 {
    position: absolute;
    left: 0.67%;
    right: 13.19%;
    top: 105.02%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.requirements .processor {
    position: absolute;
    left: 28.83%;
    right: 53.03%;
    top: 42.02%;
    bottom: 55.1%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.requirements .processor h4 {
    position: absolute;
    left: 0.67%;
    right: 10.19%;
    top: 105.02%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.requirements .memory {
    position: absolute;
    left: 10.8%;
    right: 72.8%;
    top: 53%;
    bottom: 42.01%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.requirements .memory h4 {
    position: absolute;
    left: 0.67%;
    right: 10.19%;
    top: 70.02%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
}


.requirements .storage {
    position: absolute;
    left: 28.83%;
    right: 53.03%;
    top: 53%;
    bottom: 42.01%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.requirements .storage h4 {
    position: absolute;
    left: 0.67%;
    right: 10.19%;
    top: 65.02%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.requirements .graphics {
    position: absolute;
    left: 10.8%;
    right: 72.8%;
    top: 63.25%;
    bottom: 27.86%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.requirements .graphics h4 {
    position: absolute;
    left: 0.67%;
    right: -46.81%;
    top: 35.02%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

#quotes {
    position: relative;
    top: 107%;
    background: url(./images/top-score-bg.png);
    background-size: cover;
    background-position: center center;
    height: 130vh;
    background-repeat: no-repeat;
}

.top-score {
    float: left;
    position: absolute;
    height: 153.56px;
    left: 8.15%;
    right: 63.31%;
    top: calc(50% - 153.56px/2 - 63.6px);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    color: #FFFFFF;
}

.top-score h5 {
    position: absolute;
    left: 1.33%;
    right: 22.35%;
    top: 75.34%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}

.btn-primary {
    --bs-btn-color: #1A1917;
    --bs-btn-bg: #FFB548;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffca2c;
    --bs-btn-hover-border-color: #ffc720;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
    padding: 18px 90px;
    border-radius: 4px;
    font-size: 17px;
    position: absolute;
    top: 135%;
    right: 54%;
}

.review {
    width: 100%;
    max-width: 820px;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    flex-direction: row;
    align-items: flex-start;
    justify-content: right;
}

.rectangle1 {
    margin-right: 25px;
    background: rgb(29, 28, 28);
    height: 200px;
    width: 493px;
    left: 934px;
    bottom: 300px;
    position: relative;
    border-radius: 10px;
    overflow: hidden; 
}

.rectangle1 img {
    position: absolute;
    left: 6.83%;
    right: 15.98%;
    top: 8.32%;
    bottom: 77.8%;
    border-radius: 30px;
}

.rectangle1 svg {
    position: absolute;
    left: 8.83%;
    right: 15.98%;
    top: 8.32%;
    bottom: 77.8%;
}

.rectangle1 h4 {
    position: absolute;
    left: 28.83%;
    right: 15.98%;
    top: 8.32%;
    bottom: 77.8%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.rectangle1 h5 {
    position: absolute;
    left: 28.83%;
    right: 5.49%;
    top: 21.55%;
    bottom: 74.76%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.5;
}

.rectangle1 p {
    position: absolute;
    left: 7.43%;
    right: 13.76%;
    top: 50.31%;
    bottom: 69.54%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.rectangle1 h6 {
    position: absolute;
    left: 7.42%;
    right: 22.59%;
    top: 83.35%;
    bottom: 66.57%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.path svg {
    position: absolute;
    left: 89.05%;
    right: 9.69%;
    top: 19.74%;
    bottom: 78.81%;
    mix-blend-mode: normal;
    opacity: 0.3;
}

.rectangle2 {
    margin-right: 25px;
    background: rgb(29, 28, 28);
    height: 235px;
    width: 489px;
    left: 600px;
    bottom: 200px;
    position: relative;
    border-radius: 10px;
    overflow: hidden; 
}

.rectangle2 img {
    position: absolute;
    width: 70.7px;
    height: 67.49px;
    left: 6.83%;
    right: 15.98%;
    top: 8.32%;
    bottom: 77.8%;
    border-radius: 50px;
}

.rectangle2 svg {
    position: absolute;
    left: 8.83%;
    right: 15.98%;
    top: 8.32%;
    bottom: 77.8%;
}

.rectangle2 h4 {
    position: absolute;
    left: 28.83%;
    right: 15.98%;
    top: 8.32%;
    bottom: 77.8%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.rectangle2 h5 {
    position: absolute;
    left: 28.83%;
    right: 5.49%;
    top: 21.55%;
    bottom: 74.76%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.5;
}

.rectangle2 p {
    position: absolute;
    left: 7.43%;
    right: 13.76%;
    top: 50.31%;
    bottom: 69.54%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF; 
}

.rectangle2 h6 {
    position: absolute;
    left: 7.42%;
    right: 22.59%;
    top: 83.35%;
    bottom: 66.57%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.path svg {
    position: absolute;
    left: 89.05%;
    right: 9.69%;
    top: 19.74%;
    bottom: 78.81%;
    mix-blend-mode: normal;
    opacity: 0.3;
}

.rectangle3 {
    margin-right: 25px;
    background: rgb(29, 28, 28);
    height: 217px;
    width: 471px;
    left: 867px;
    bottom: 100px;
    position: relative;
    border-radius: 10px;
    overflow: hidden; 
}

.rectangle3 img {
    position: absolute;
    width: 70.7px;
    height: 67.49px;
    left: 6.83%;
    right: 15.98%;
    top: 8.32%;
    bottom: 77.8%;
    border-radius: 50px;
}

.rectangle3 svg {
    position: absolute;
    left: 8.83%;
    right: 15.98%;
    top: 8.32%;
    bottom: 77.8%;
}

.rectangle3 h4 {
    position: absolute;
    left: 28.83%;
    right: 15.98%;
    top: 8.32%;
    bottom: 77.8%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.rectangle3 h5 {
    position: absolute;
    left: 28.83%;
    right: 5.49%;
    top: 21.55%;
    bottom: 74.76%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.5;
}

.rectangle3 p {
    position: absolute;
    left: 7.43%;
    right: 13.76%;
    top: 50.31%;
    bottom: 69.54%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.rectangle3 h6 {
    position: absolute;
    left: 7.42%;
    right: 22.59%;
    top: 83.35%;
    bottom: 66.57%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.path svg {
    position: absolute;
    left: 89.05%;
    right: 9.69%;
    top: 19.74%;
    bottom: 78.81%;
    mix-blend-mode: normal;
    opacity: 0.3;
}

#footer {
    background: url(./images/newsletter.png);
    background-size: cover;
    background-position: center center;
    height: 110vh;
    background-repeat: no-repeat;
}

.rectangle {
    position: relative;
    width: 445.47px;
    height: 694.41px;
    left: 159.96px;
    top: 49.98px;
    transform:translate(-30%);
    background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%);
}
.images {
    background: url(./images/skull.png);
    position: relative;
    background-repeat: no-repeat;
    width: 445.47px;
    height: 694.41px;
    left: 159.96px;
    top: 49.98px; 
}

#footer h3  {
    position: absolute;
    left: 141.87%;
    top: 14.17%;
    font-family: 'Arial';
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
    width: 100%;
}

#footer h1 {
    position: absolute;
    left: 141.87%;
    top: 27.17%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 75px;
    letter-spacing: 3px;
    color: #FFFFFF;
    width: 100%;
    text-transform: uppercase;
}

#footer p {
    position: absolute;
    left: 141.87%;
    top: 54.17%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    width: 100%;
}

.box {
    position: relative;
    width: 366.92px;
    height: 60px;
    left: 654.92px;
    top: -120.3px;
    background: rgb(29, 28, 28);
    border-radius: 5px;
}

.box h6 {
    position: absolute;
    left: 28.92px;
    top: 6.7px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 4px;
}

#footer .box p {
    position: absolute;
    left: 28.92px;
    top: 25.7px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFB548;
}

#footer .box .btn-primary {
    --bs-btn-color: #1A1917;
    --bs-btn-bg: #FFB548;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffca2c;
    --bs-btn-hover-border-color: #ffc720;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px, rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
    padding: 17px 62px;
    border-radius: 4px;
    font-size: 16px;
    position: absolute;
    top: -2%;
    right: -71%;
}


.footer .d-flex {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    justify-content: center;
}

.footer .vector4 {
    position: relative;
    width: 90%;
    left: 5%;
    top: 750%;
    border: 1px solid #979797;
}

#footer .footer .d-flex {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    left: 141.87%;
    top: 54.17%;
}

#footer .footer .d-flex .p-3 {
    position: relative;
    width: 500.88px;
    height: 21.9px;
    left: calc(35% - 339.88px/2 - 430.83px);
    top: calc(50% - 21.9px/2 + 58.25px);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

#footer .footer .d-flex .p-4 {
    position: relative;
    width: 500.88px;
    height: 21.9px;
    left: calc(29% - 339.88px/2 - 430.83px);
    top: calc(50% - 21.9px/2 + 58.25px);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}